#input1, #input2 {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

button {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    cursor: pointer;
    background-color: white;
    color: black;
}

button:hover {
    background-color: #555555;
    color: white;
}

/* #b1 {
    border: 1px solid black;
    margin: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    cursor: pointer;
}  */

/* #b1 :hover {
    background-color: white;
    color: black;
    border: 2px solid #555555;
} */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
}